@model IEnumerable<SpicyFoodHouse.Models.PaymentMethod>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PaymentMethodName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ManagerSignature)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EntryDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastUpdatedDate)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentMethodName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManagerSignature)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdatedDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PaymentMethodId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PaymentMethodId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PaymentMethodId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
