@model SpicyFoodHouse.Models.AvailableInStock

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>AvailableInStock</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FoodName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FoodName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AvailableFood)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AvailableFood)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ManagerSignature)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ManagerSignature)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EntryDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EntryDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastUpdatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastUpdatedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
